.player-streak {
  margin: 0 1em;

  .result {
    width: 20px;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
    color: white;
    float: left;
    margin: 0 3px;
    min-height: 18px;
    
    &.won {
      background: #076307;
      border: solid 1px green;
    }
  
    &.lost {
      background: #d23636;
      border: solid 1px red;
    }

    &.placeholder {
      background: white;
      border: solid 1px black;
      border-style: dotted;
    }
  }
}
